#main-title {
    color: red;
}

#description {
    font-style: italic;
    font-size: 20px;
}

#pizza-list {
    background-color: #f4f4f4;
}

.pizza {
    color:green;
    font-size: 30px;
}
.pizza-img {
    width:100px;
    height:100%;
}